body{
    font-family: vazir;
}
h1{
    /* font-size: 28px; */
    font-size: 20px;
    color: #636e72;
    text-transform: uppercase;
}
.MyHeader{
    border-bottom: 1px solid #636e72;
    text-align: center;
    padding-bottom: 2px;
    background-color: #dfe6e9;
    box-sizing: border-box;

}
#job{
    font-size: 18px;
    font-weight: bold;
}
.summary{
    font-size: 16px;
    line-height: 20px;
}
.skils{
    padding: 10px 2px;
}
ul{
    margin: 0;
}
.ulWrapper{
    list-style: none;
    font-weight: bold;
    margin-bottom: 5px;
    
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    background-size: cover;
    width: 300px;
    height: 250px;
}